.Home {
    width: 100%;
    background-color: hsl(219, 48%, 10%);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Home>h1 {
    flex: 1;
    color: hsl(219, 48%, 80%);
    padding: 1vmax;
    font-size: 2.5vmax;
    font-family: "Roboto";
    
}

.Home>div {
    flex: 1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: .5vmax;


}

.Home>div>a {
    text-decoration: none;
    color: white;
    display: block;
    padding: 1vmax;
    font-size: 1vmax;
    transition: all.5s;
    font-family: "Roboto";
}
.Home>div>a:hover {
color: hsl(219, 48%, 40%);
background-color: white;
}

.btn{
    padding: 1.2vmax;
    width: 8vmax;
    margin: 1vmax;
    border-radius: 20px;
    font-size: 1vmax;
    font-family: "Roboto";
    border: none;
    transition: all.5s;
    background-color: white;
}
.btn:hover{
    background-color: hsl(219, 48%, 80%);
    cursor: pointer;
}


@media screen and (max-width:1050px) {
    .Home>div>a { 
        font-size: 2vmax
    }
    .Home>h1 {
      
        font-size: 3vmax;
        
    }
 }